
  
 .imgLogo{
   width: 5%;
   color: #2b2e4a;
 }
  .timeNews{
    padding: 0 1rem;
    width: 100%;
   margin-bottom: 30px;
   display: flex;
  }

  .text-time{
    font-size: 54px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
    color: #2b2e4a;
  }

  .text-body{
    font-size: 20px;
    width: 740px;
  }

  @media screen and (max-width: 680px) {
   .imgLogo{
     width: 10%;
   }
   .text-time{
     font-size: 24px;
   }
  }
  
 
  
