  :root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
 
  .timeNews{
    background: url(./images/pablo-17.png);
    padding: 0 1rem;
    height: 20vh;
    width: 100%;
   margin-bottom: 20px;
  }
  
  .text-time{
    font-size: 54px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  .text-body{
    font-size: 20px;
    width: 740px;
  }

 
  
 
  
